*{
    margin: 0px;
    font-family: Arial;
    

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    background-image: url("images.png");
    background-size: cover;
}
.nav-border{
    border: 2px solid transparent;
}
.nav-border:hover{
    border:2px solid white;
}
.nav-add{
    font-size: 12px;
}
.add-first{
    font-size: 12px;
    color: #cccccc;
     margin-left: 20px;
}
.add-second{
    font-size: 14px;
    color: white;
    margin-left: 5px;
}
.location-icon{
    display: flex;
    align-items: center;
}

.nav-search_bar{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px; 
    border-radius: 4px;
}
.search-icon{
   
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.search-option{
    border-radius: 4px;
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px;
     border: none;
}
.search-input{
    width: 100%;
    text-align: center;
    border: none;
}
span{
    font-size: 0.7rem;
}
.accounts-detail {
    font-size: 0.85rem;
    font-weight: 700px;
}
.nav-search_bar:hover{
    border: 2px solid orange;
}

.cart-icon i {
     font-size: 25px;
}
.cart-icon{
    font-size: 14px;
    font-weight: 700;
}
.panel
{
   height: 39px;
   background-color: #222f3d;
   font-size: 14px;
   color: white;
    display: flex;
  
   align-items: center;
   justify-content: space-evenly;
}
.panels-option p{
    display: inline;
    font-size: 0.85rem;
    margin-left: 15px;
  
}
.panels-option{
    width:70%;
    font-size: 0.85rem; 
}

.panel-deals{
    font-weight: 900;
}
/**hero-section**/
.hero-section{
    background-image: url("hero\ image.jpg");
    height: 350px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 25px;
    
}
.hero-msg a{
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    background-color: #186da6;
    justify-content: space-around;
}
.box{
    /* border: 2px solid black; */
    
    width: 23%;
    height: 250px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}
h2{
    font-size: 21px;
    text-align: center;
}
.box1-img{
    background-image: url("box1.jpg");
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.box1-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box1-content p{
    color: #007185;
}
.box2-img{
    background-image: url("box\ 2.jpg");
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 1rem;

   margin-top: 1rem;
   margin-bottom: 1rem;
}
.box2-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box2-content p{
    color: #007185;
}
.box3-img{
    background-image: url("box3.jpg");
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.box3-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box3-content p{
    color: #007185;
}
.box4-img{
    background-image: url("box4.jpg");
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 1.5rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.box4-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box4-content p{
    color: #007185;
}
.box5-img{
    background-image: url("box5.jpg");
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 4.3rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.box5-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box5-content p{
    color: #007185;
}
.box6-img{
    background-image: url("box6.jpg");
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 4rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.box6-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box6-content p{
    color: #007185;
}
.box7-img{
    background-image: url("box7.jpg");
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 5.4rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.box7-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box7-content p{
    color: #007185;
}
.box8-img{
    background-image: url("box8.jpg");
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 5rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.box8-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box8-content p{
    color: #007185;
}
footer{
    margin-top: 10px;
}
.footer-panel-1{
    height: 50px;
    background-color: #37475a;
    color: white;
    text-align: center;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    font-size: .95rem;
}
.footer-panel-2{
    background-color: #222f3d;
    color: #dddddd;
    height: 325px;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;

}
ul{
    margin-top: 10px ;
    color: #dddddd;
}
 ul a{
    display: block;
    margin-top: 12px; 
    color: #dddddd;  
    }
ul p{
    font-weight: 900;
}
.footer-panel-3{
    background-color: #222f3d;
    height: 80px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-2{
    background-image: url("images.png");
    height: 50px;
    width: 100px;
    background-size: cover;
    
}
.footer-panel-4{
    background-color: #0f1111;
    color: #dddddd;
    height: 76px;
    
   
}
.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

